<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Config>
    <ConnectString>Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.21.52.1)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=cmis3)));User Id=PTKH_MTB;Password=PTKHMTBRA;</ConnectString>
    <ConnectString_2>Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.21.52.1)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=cmis3)));User Id=GCS_HHC;Password=GCS_123;</ConnectString_2>
  </Config>
</NewDataSet>