
.tbl_Write td{padding:5px 10px; border:1px solid #d5d5d5;
    width: 150px;
}
.tbl_Write .col1{background:#eaf1f9 none; color:#000; font-weight:700;}
.tbl_Write table td{border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
   
}
.tbl_Write1 
{
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
.tbl_Write1 td{padding:0px 10px; border:1px solid #d5d5d5;
}

.tbl_Write1 .col1{background:#eaf1f9 none; color:#000; font-weight:700;}
.tbl_Write1 table td{border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
   
}
.tbl_Write1 td{padding:5px 5px; border:1px solid #d5d5d5;
}
.tbl_Write .btn{border:0; padding-left:0; padding-top:15px;}
.tbl_Write1 .btn{border:0; padding-left:0;}
.tbl_Write .btn table{float:left; margin-right:10px;}
.tbl_Write .TitleInfo{font-weight:700; font-size:16px; border:0; padding:0 3px 10px;}

.fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}